.footer-container {
    background-color: #000;
    padding: 5rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer-link-wrapper {
    display: flex;
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 90px;
    text-align: left;
    width: 300px;
    box-sizing: border-box;
  }
  
  .footer-link-items h2 {
    margin-bottom: 16px;
  }
  
  .footer-link-items > h2 {
    color: #fff;
  }
  
  .footer-link-items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer-link-items a:hover {
    color: #58067e;
    transition: 0.3s ease-out;
  }
  
 
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  
  .website-rights {
    color: rgb(133, 0, 0);
    margin-left: 320px;
    width: 1400px;
  }


  /*ICONS*/
.fa-insta{
  
   color:purple;
   margin-left: 5px;
   margin-top: 2px;
}

.fa-face{
  
   color: rgb(31, 69, 238);
   margin-left: 5px;
   margin-top: 8px;
}

.fa-you{
 
   color:red;
   margin-left: 5px;
   margin-top: 8px;
}