
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');
.title-h1{
    font-family:'PT Sans', sans-serif;
    font-size: 35px;
    margin-top: 80px;
    margin-left: 390px;
    width: 50%;
    text-align: center;
}

.text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 350px;
    text-align: left;
    width: 58%;
}

.pad{
    margin-top: 10px;
}

.adress{
    margin-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 350px;
    text-align: left;
    width: 58%;
    margin-bottom: 40px;
}